%nav
  %ul.sections
    - sections.each do |section|
      %li
        = link_to section.name.upcase, "##{section.name}"
        %ul.files
          - section.dropbox_files.each do |dropbox_file|
            %li
              =link_to File.basename(dropbox_file.meta_path), portfolio_show_path(dropbox_file)

    %li= link_to "ABOUT ME", "#"
    %li= link_to "CONTACT", "#"
