#sidebar
  %ul#nav
    - sections.each do |section|
      %li.with_subcontent
        = link_to section.name.upcase, "##{section.name}"
        %ul.sub
          - section.dropbox_files.each do |dropbox_file|
            %li
              =link_to dropbox_file.meta_path, "#"
              .corner

    %li= link_to "ABOUT ME", "#"
    %li= link_to "CONTACT", "#"
