// Place all the styles related to the admin/dropboxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.meta_item {
  float: left;

  img {
    margin: 10px;
    height: 100px;
    width: 100px;
  }
}
