- content_for :templates do
  = file_template
  = directory_template
  :javascript
    $(function() {
      App.dropbox_view.collection.reset(#{@dropbox_items.to_json}); //bootstrap
    });

#dropbox_container
